/* 
    Trinity grid 
    Because 12 columns is sometimes too much
    ----------------------------------------
    2015 @lukyvj   
    */ 


    $size-1: 100%;
    $size-2: 50%;
    $size-3: 33.33%;


    [class*="trinity"]{


      [class*="t-"]{
        display: block;

        float: left;
        padding: 0;
        margin: 0;

    // .t-1
    &[class*="t-1"]{
      width: $size-1;
    }

    // .t-2
    &[class*="t-2"]{
      width: $size-2;
      &:not([class*="-s"]){
        @media all and(max-width: 420px){
          width: $size-1;
        }
      }
    }

    // .t-3    
    &[class*="t-3"]{
      width: $size-3;
      &:not([class*="-s"]){
       @media all and(max-width: 560px){ 
        width: $size-1;
      }
    }
  }

    // Offset
    &[class*="-o-"]{


      &[class*="t-3-"]{

        &[class*="o-1"]{
          margin-right: $size-3*2;
          &:not([class*="-s"]){
            @media all and(max-width: 560px){
              margin-left: 0;
              margin-right: 0;
            }
          }
        }

        &[class*="o-3"]{
          margin-left: $size-3*2;
          &:not([class*="-s"]){
            @media all and(max-width: 560px){
              margin-left: 0;
              margin-right: 0;
            }
          }
        }
        &[class*="o-2"]{
          margin-left: $size-3;
          &:not([class*="-s"]){
            @media all and(max-width: 560px){
              margin-left: 0;
              margin-right: 0;
            }
          }
          margin-right: $size-3;
          &:not([class*="-s"]){
            @media all and(max-width: 560px){
              margin-left: 0;
              margin-right: 0;
            }
          }
        }
      }

      &[class*="t-2-"]{
        &[class*="o-1"]{
          margin-right: $size-2;

          &:not([class*="-s"]){
            @media all and(max-width: 420px){
              margin-right: 0;
              margin-left: 0;
            }
          }
        }

        &[class*="o-2"]{
          margin-left: $size-2;

          &:not([class*="-s"]){
            @media all and(max-width: 420px){
              margin-right: 0;
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}